.container {
    display: flex;
    margin-top: 150px;
    margin-left: 330px;
    font-size: 0.8rem;
}
tr {
    text-align: center;
}
th {
    background-color: lightskyblue;
}
.panel .panel-heading {
    padding-bottom: 40px;   
}
button {
    padding-left: 0px;
    font-size: 0.8rem;
    width: auto;
    text-align: center;
    border: none; 
}
